.DS_Store
Icon?
__pycache__/
*.pyc
*.pyo
*.before_*
*backup*
*.log
*.npy
*.npz
*.egg-info/
build/
dist/

outputs/
targets/
target_done/
target_opt/

data/wikiart/
data/wikiart_raw/
data/cache/
data/basic_uniform_cache/
data/cache_before_highres_*/
